player-connection-mode=Connect
player-connection-guid=3899535139
player-connection-debug=0
player-connection-project-name=Ecliptika : Shards of Survival
player-connection-wait-timeout=-1
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=8969fb14d781441abedf55f3982e4620
